body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
.wrapper header {
  position: relative;
}
.wrapper header .top-header {
  display: grid;
  grid-template-columns: 250px auto 250px;
  grid-template-areas: "logo offset contacto";
}
.wrapper header .top-header .logo {
  grid-area: logo;
}
.wrapper header .top-header .logo figure img {
  max-height: 75px;
}
.wrapper header .top-header .contacto {
  grid-area: contacto;
  color: #26619a;
}
.wrapper header .main-menu {
  display: flex;
  background-color: #26619a;
}
.wrapper header .main-menu .menu {
  width: 100%;
  margin: 0 auto;
}
.wrapper header .main-menu .menu ol {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  padding: 0.5em 0;
  list-style: none;
}
.wrapper header .main-menu .menu .menu-item {
  padding: 1em 0.5em;
  margin: 0 0.1em;
  cursor: pointer;
  min-width: 8em;
  text-align: center;
  position: relative;
}
.wrapper header .main-menu .menu .menu-item[aria-haspopup=true] {
  border-bottom-color: #d4e8f5;
}
.wrapper header .main-menu .menu .menu-item:hover {
  background-color: #204f7f;
}
.wrapper header .main-menu .menu .menu-item:hover .sub-menu, .wrapper header .main-menu .menu .menu-item:hover .sub-menu:hover {
  visibility: visible;
  opacity: 1;
  display: flex;
}
.wrapper header .main-menu .menu a {
  text-decoration: none;
  color: white;
}
.wrapper header .main-menu .menu .sub-menu {
  display: none;
  visibility: hidden;
  opacity: 0;
  background-color: #204f7f;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 0;
  margin-top: 1.2em;
  font-size: 0.8em;
}
.wrapper header .main-menu .menu .sub-menu .menu-item {
  margin: 0.1em 0;
  padding: 1em;
  width: 10em;
  text-align: center;
}
.wrapper header .main-menu .menu .sub-menu .menu-item:hover {
  border: 1px solid #d4e8f5;
}
.wrapper .mobil-nav {
  display: none;
}
.wrapper section#inicio {
  background-image: url("../img/limpiezas.comerciales.jpg");
  width: 100%;
  height: calc(100vh - 400px);
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section#servicios {
  margin: 0;
  padding: 0;
}
.wrapper section#servicios h2 {
  background-color: #26619a;
  color: white;
  padding: 3% 10%;
  font-size: 2em;
}
.wrapper section#servicios .servicios-generales {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper section#servicios .servicios-generales .servicio .servicio-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.wrapper section#servicios .servicios-generales .servicio .servicio-container figure {
  padding: 0;
  margin: 0;
}
.wrapper section#servicios .servicios-generales .servicio .servicio-container figure img {
  width: 100%;
  margin: 0;
}
.wrapper section#servicios .servicios-generales .servicio .servicio-container .servicio-descripcion {
  padding: 0 10%;
}
.wrapper section#servicios .servicios-generales .servicio .servicio-container .servicio-descripcion h3 {
  font-weight: bold;
}
.wrapper section#servicios .servicios-generales .servicio .servicio-container .servicio-descripcion p,
.wrapper section#servicios .servicios-generales .servicio .servicio-container .servicio-descripcion ul li {
  margin: 0;
  text-align: justify;
  font-size: 0.8em;
}
.wrapper section#servicios .servicios-profesionales {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
}
.wrapper section#servicios .servicios-profesionales .servicio figure {
  padding: 0;
  margin: 0;
}
.wrapper section#servicios .servicios-profesionales .servicio figure img {
  width: 100%;
}
.wrapper section#servicios .servicios-profesionales .servicio figure p {
  text-align: justify;
  font-size: 0.9em;
}

footer {
  width: 100%;
  background-color: #26619a;
  margin: 0;
  color: white;
}
footer .wallpaper {
  width: 100%;
  height: 600px;
  background-image: url("../img/administrativa.lista.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  position: relative;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}
footer .wallpaper .layer {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: #00000099;
}
footer .wallpaper section#nosotros {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  z-index: 100;
}
footer .wallpaper section#acercade {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  z-index: 100;
}
footer .wallpaper section#acercade p {
  text-align: justify;
}
footer .footer {
  display: grid;
  grid-template-columns: 300px auto 300px;
  grid-template-areas: "logo offset contacto";
}
footer .footer figure {
  grid-area: logo;
}
footer .footer figure img {
  height: 75px;
}
footer .footer .contacto {
  grid-area: contacto;
  font-size: 0.8em;
}
footer .footer .contacto h3 {
  margin: 5px;
}
footer .footer .contacto p {
  margin: 3px;
}

/*# sourceMappingURL=main.css.map */
