@import "colors";

body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 90%;
  padding: 0;
  margin: 0 auto;

  header {
    position: relative;

    .top-header {
      display: grid;
      grid-template-columns: 250px auto 250px;
      grid-template-areas: "logo offset contacto";

      .logo {
        grid-area: logo;

        figure {
          img {
            max-height: 75px;
          }
        }
      }

      .contacto {
        grid-area: contacto;
        color: $color1
      }
    }

    .main-menu {
      display: flex;
      background-color: $color1;

      .menu {
        width: 100%;
        margin: 0 auto;

        ol {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-evenly;
          width: 100%;
          margin: 0 auto;
          padding: .5em 0;
          list-style: none;
        }

        .menu-item {
          padding: 1em .5em;
          margin: 0 .1em;
          cursor: pointer;
          min-width: 8em;
          text-align: center;
          position: relative;

          &[aria-haspopup="true"] {
            border-bottom-color: $color2;
          }

          &:hover {
            background-color: $color3;

            .sub-menu, .sub-menu:hover {
              visibility: visible;
              opacity: 1;
              display: flex;
            }
          }
        }

        a {
          text-decoration: none;
          color: white;
        }

        .sub-menu {
          display: none;
          visibility: hidden;
          opacity: 0;
          background-color: $color3;
          flex-direction: column;
          align-items: flex-start;
          position: absolute;
          left: 0;
          margin-top: 1.2em;
          font-size: .8em;

          .menu-item {
            margin: .1em 0;
            padding: 1em;
            width: 10em;
            text-align: center;

            &:hover {
              border: 1px solid $color2;
            }
          }
        }
      }
    }
  }

  .mobil-nav {
    display: none;
  }

  section#inicio {
    background-image: url("../img/limpiezas.comerciales.jpg");
    width: 100%;
    height: calc(100vh - 400px);
    background-repeat: no-repeat;
    background-size: cover;
  }

  section#servicios {
    margin: 0;
    padding: 0;

    h2 {
      background-color: $color1;
      color: white;
      padding: 3% 10%;
      font-size: 2em;
    }

    .servicios-generales {
      width: 100%;
      display: flex;
      flex-direction: column;

      .servicio {
        .servicio-container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);

          figure {
            padding: 0;
            margin: 0;

            img {
              width: 100%;
              margin: 0;
            }
          }

          .servicio-descripcion {
            padding: 0 10%;

            h3 {
              font-weight: bold;
            }

            p,
            ul li {
              margin: 0;
              text-align: justify;
              font-size: .8em;
            }
          }
        }
      }
    }

    .servicios-profesionales {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 60px;

      .servicio {
        figure {
          padding: 0;
          margin: 0;

          img {
            width: 100%;
          }

          p {
            text-align: justify;
            font-size: .9em;
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  background-color: $color1;
  margin: 0;
  color: white;

  .wallpaper {
    width: 100%;
    height: 600px;
    background-image: url('../img/administrativa.lista.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);

    .layer {
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      background-color: #00000099;
    }

    section#nosotros {
      position: relative;
      width: 1200px;
      margin: 0 auto;
      z-index: 100;
    }

    section#acercade {
      position: relative;
      width: 1200px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 60px;
      z-index: 100;

      p {
        text-align: justify;
      }
    }
  }

  .footer {
    display: grid;
    grid-template-columns: 300px auto 300px;
    grid-template-areas: "logo offset contacto";

    figure {
      grid-area: logo;

      img {
        height: 75px;
      }
    }

    .contacto {
      grid-area: contacto;
      font-size: .8em;

      h3 {
        margin: 5px;
      }

      p {
        margin: 3px;
      }
    }
  }
}